* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-content-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-outer-cover {
  width: 140px;
  height: 240px;
  position: relative;
  margin: 20px 10px;
}

.cancel-float-btn {
  position: absolute;
  top: 6%;
  right: 5%;
  opacity: 0.4;
  color: red;
  cursor: pointer;
}

.hide-close-btn {
  opacity: 0;
}

.cancel-float-btn:hover {
  opacity: 1;
}

.image-outer-cover img {
  width: 140px;
  border-radius: 14px;
}

.input-section-wrapper {
  width: 80vh;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.input-section-wrapper input {
  padding: 0.375rem 0.75rem;
  width: 60%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-right: 6px;
}
.input-section-wrapper button {
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
  border-radius: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  border: none;
  margin-left: 6px;
}

.Image-map-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.loading-outer-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
